<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="this.newEmployeeForm">
        <label for="name">Name</label>
        <input formControlName="name" name="name" required type="text" class="form-control">
        <label *ngIf="this.newEmployeeForm.controls['name'].touched && this.newEmployeeForm.controls['name'].invalid">Name must have at least one character</label>
        
        <label for="age">Age</label>
        <input formControlName="age" name="age" type="number" class="form-control">
        <label *ngIf="this.newEmployeeForm.controls['age'].touched && this.newEmployeeForm.controls['age'].invalid">Age must be greater than 18</label>
        
        <hr>
        <button [disabled]="!this.newEmployeeForm.valid" class="btn btn-success" type="submit">Create</button>
        <button [routerLink]="['/']" style="margin-left: 5px;" class="btn btn-warning" type="submit">Cancel</button>
      </form>
    </div>
  </div>
</div>

<app-modal 
  [displayStyle]="this.displayStyle"
  [modalTitle]="this.modalTitle"
  [modalMessage]="this.modalMessage"
  [hasError]="this.hasError"
  (modalClosed)="onModalClosed()">
</app-modal>