<h3>Yet another CRUD project 🎉</h3>
<br>

<h4>Overview</h4>

CRUD project for future references. Project implies few technics that not so beneficial in small project like current implementation, but could bring benefits in bigger implementation.
<br>
<br>

<h4>What used</h4>

<h5>Stack includes:</h5>
- .Net6 as backend.
<br>
- Entity Framework as DLA.
<br>
- SQLite as Database (can be easily changed).
<br>
- Angular 13 as a frontend.
<br>
<br>

<h5>Patterns:</h5>
- Repository.
<br>
- Unity of work.
<br>
<br>

<h5>Features:</h5>
- Database auto provisioning. If DB does not exist at the startup, then app will create an empty one.
<br>
- Automapper to map DB entities to DataTransferObjects and vice versa.
<br>
- Responses to control potential errors in services and have a better handling in controllers.
<br>
- Swagger API.
<br>
- Angular routing.
<br>
- Angular employee services.
<br>
- Toast notifications.
<br>
- Modal window on employee creation.
<br>
- Two ways component communication.
<br>
- Paginated response
<br>
<br>

<h4><mark>TODOs:</mark></h4>
- Error controller
<br>
- Unit tests 
<br>
- Switch form from template driven to reactive
<br>
- Add search
<br>
- Add sorting